.footer {
  &__columns {
    padding-bottom: 0;

    &.first {
      padding-right: $global-padding;

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-right: 0 !important;
      }
    }

    &.last {
      padding-left: $global-padding;

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-left: 0 !important;
      }
    }
  }

  // > tbody > tr > td {
  //   padding-left: $global-padding !important;
  //   padding-right: $global-padding !important;
  // }

  .socials {
    &__heading {
      margin-bottom: 0;
    }

    .menu-socials {
      width: auto;

      &__item {
        padding: 0;
        padding-right: $global-padding / 2;
      }

      &__image {
        @media only screen and (max-width: #{$global-breakpoint}) {
          width: 24px !important;
        }
      }
    }
  }

  .contacts {
    &__heading {
      margin-bottom: 0;
    }

    .menu-contacts {
      &__item {
        padding: 0 !important;
        padding-bottom: $global-padding / 2 !important;
        text-align: left;
        a {
          text-decoration: none;
          color: $tertiary-color;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .links {
    &__heading {
      margin-bottom: 0;
    }

    .menu-links {
      &__item {
        padding: 0 !important;
        padding-bottom: $global-padding / 2 !important;
        text-align: left;
        a {
          color: $black;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
