.info {
  $info: &;

  margin-left: $global-margin;
  margin-right: $global-margin;
  margin-bottom: 0;
  font-size: 11px;
  line-height: 13px;

  &--prev {
    color: #141414;

    #{$info}__link {
      color: $tertiary-color;
      transition: all 0.3s ease-out;

      &:hover,
      &:focus,
      &:active {
        color: darken($tertiary-color, 10%);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &--next {
    margin-bottom: $global-margin;
    color: $medium-gray;
    text-align: justify;

    #{$info}__link {
      color: $medium-gray;

      &:hover,
      &:focus,
      &:active {
        color: darken($medium-gray, 10%);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
