.invitation {
  &.container {
    background: transparent !important;
  }
  &__wrapper {
    &.columns {
      padding: 0 !important;
    }
  }

  &__main-content {
    width: calc(100% - #{$global-padding * 2}) !important;
    background: $white;
  }

  &.container {
    background: transparent !important;
  }

  .header {
    > tbody > tr > td {
      padding-left: $global-padding !important;
      padding-right: $global-padding !important;
    }

    &__logo {
      display: inline-block;

      img {
        @media only screen and (max-width: #{$global-breakpoint}) {
          width: 140px !important;
        }
      }
    }
  }

  .intro {
    &__heading,
    &__subtitle {
      margin-bottom: 0;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
    }

    &__heading {
      color: $primary-color;

      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 28px !important;
      }
    }

    &__subtitle {
      padding-left: $global-padding * 3;
      padding-right: $global-padding * 3;
      color: $secondary-color;
      line-height: 1.2;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 18px !important;
      }
    }
  }

  .webinar-registration {
    .callout {
      margin-left: $global-margin / 2;
      margin-bottom: 0;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: #{$global-breakpoint}) {
        margin-left: auto !important;
      }
    }

    &__wrapper {
      padding-top: $global-padding !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 30px !important;
      background-color: $secondary-color !important;
      border: none !important;
      border-radius: $global-radius;

      > center {
        min-width: auto !important;
      }
    }
    .date-time {
      &__month,
      &__time,
      &__day {
        color: $white;
        line-height: 1;
      }

      &__month,
      &__time {
        font-size: $h1-font-size;
      }

      &__day {
        font-size: 96px;
      }
    }

    &__button {
      margin-bottom: 0;

      table {
        td {
          background: #ffb500 !important;

          &:hover {
            background: lighten($color: #ffb500, $amount: 10%) !important;
          }
        }

        a {
          border: 0 solid #ffb500 !important;
        }
      }
    }
  }

  .details {
    .callout {
      margin-bottom: 0;
    }

    @media only screen and (max-width: #{$global-breakpoint}) {
      width: auto;
    }

    &__wrapper {
      padding-top: 40px !important;
      padding-left: $global-padding !important;
      padding-right: $global-padding !important;
      padding-bottom: 30px !important;
      background-color: $primary-color !important;
      border: none !important;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-top: 24px !important;
        padding-bottom: 4px !important;
      }
    }

    &__intro,
    &__heading {
      color: $white;
      margin-bottom: 0;
    }

    &__intro {
      line-height: 1.2;
    }

    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0;
      text-align: left;

      .item-list {
        display: inline-block;

        &__image,
        &__text {
          display: inline-block;
        }

        &__image {
          width: 12px;
          height: 12px;
          margin-top: 4px;
          margin-right: 13px;
          vertical-align: top;
          transition: all 0.3s ease-in-out;

          @media only screen and (max-width: #{$global-breakpoint}) {
            margin-right: 20px;
          }
        }

        &__text {
          max-width: calc(100% - 25px);
          color: $white;
          transition: all 0.3s ease-in-out;

          @media only screen and (max-width: #{$global-breakpoint}) {
            max-width: calc(100% - 32px);
          }

          @media only screen and (max-width: #{$global-breakpoint}) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .presenter {
    &__heading {
      font-weight: 700;
      margin-bottom: 0;
    }

    &__image {
      @media only screen and (max-width: #{$global-breakpoint}) {
        width: 88px !important;
      }
    }

    &__about {
      margin-bottom: 0;
    }

    &__button {
      margin: 0;

      > tbody > tr > td {
        padding-left: $global-padding !important;
        padding-right: $global-padding !important;
      }

      table td {
        text-align: center;
        cursor: pointer;
      }
    }

    > tbody > tr > td {
      padding-left: $global-padding !important;
      padding-right: $global-padding !important;
    }
  }

  .features {
    &__heading {
      margin-bottom: 0;
      font-weight: 700;
      color: $tertiary-color;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 24px !important;
      }
    }

    &__button {
      margin: 0;

      > tbody > tr > td {
        padding-left: $global-padding !important;
        padding-right: $global-padding !important;
      }

      table td {
        text-align: center !important;
        cursor: pointer !important;
      }
    }

    &__note {
      margin-bottom: 0;
    }

    > tbody > tr > td {
      padding-left: $global-padding !important;
      padding-right: $global-padding !important;
    }
  }

  .footer {
    &__columns {
      padding-bottom: 0;

      &.first {
        padding-right: $global-padding;

        @media only screen and (max-width: #{$global-breakpoint}) {
          padding-right: 0 !important;
        }
      }

      &.last {
        padding-left: $global-padding;

        @media only screen and (max-width: #{$global-breakpoint}) {
          padding-left: 0 !important;
        }
      }
    }

    > tbody > tr > td {
      padding-left: $global-padding !important;
      padding-right: $global-padding !important;
    }

    .socials {
      &__heading {
        margin-bottom: 0;
      }

      .menu-socials {
        width: auto;

        &__item {
          padding: 0;
          padding-right: $global-padding / 2;
        }

        &__image {
          @media only screen and (max-width: #{$global-breakpoint}) {
            width: 24px !important;
          }
        }
      }
    }

    .contacts {
      &__heading {
        margin-bottom: 0;
      }

      .menu-contacts {
        &__item {
          padding: 0;
          padding-bottom: $global-padding / 2;
          text-align: left;
          a {
            text-decoration: none;
            color: $tertiary-color;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

    .links {
      &__heading {
        margin-bottom: 0;
      }

      .menu-links {
        &__item {
          padding: 0;
          padding-bottom: $global-padding / 2;
          text-align: left;
          a {
            color: $black;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
}
