@import 'settings';
@import 'foundation-emails';
@import 'gui';

.invitation {
  .wrapper-inner {
    background: none;
  }

  &__container {
    background: $light-gray !important;
  }

  &__columns {
    padding-top: $global-padding;
    padding-bottom: $global-padding * 2 !important;
  }

  .content-wrapper {
    &__container {
      background: $white;
    }

    &__columns {
      padding: 0;
    }
  }

  .alert {
    &.alert--show-content {
      .alert__link {
        color: $tertiary-color;
      }
    }
  }

  .header {
    .wrapper-inner {
      padding: 0;
      padding-left: $global-padding / 2;
      padding-right: $global-padding / 2;

      @media #{$media-query} {
        padding-left: $global-padding;
        padding-right: $global-padding;
      }
    }

    &__columns {
      padding: 0;
    }

    &__logo {
      width: 140px !important;
      height: 24px !important;
    }

    &__title {
      font-size: 36px;
      line-height: 42px;
      color: $primary-color;
      font-weight: bold;

      @media #{$media-query} {
        font-size: 28px;
        line-height: 33px;
      }
    }

    &__lead {
      padding-left: $global-padding;
      padding-right: $global-padding;
      font-size: 24px;
      line-height: 28px;
      color: $secondary-color;
      font-weight: bold;

      @media #{$media-query} {
        padding-left: 0;
        padding-right: 0;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .date {
    background: $secondary-color;
    border-radius: $global-radius;

    .wrapper-inner {
      padding-top: 15px;
      padding-left: 35px;
      padding-bottom: 25px;
      padding-right: 35px;
    }

    &__container {
      background: none;
    }

    &__month,
    &__day,
    &__time {
      font-weight: bold;
      color: $white;
    }

    &__month,
    &__time {
      font-size: 36px;
      line-height: 42px;
    }

    &__day {
      font-size: 96px;
      line-height: 111px;
    }

    &__button {
      table {
        td {
          background: $quaternary-color !important;
        }
        a {
          border-color: $quaternary-color;
        }
      }

      @media #{$media-query} {
        margin: auto;
        margin: auto;
      }
    }
  }

  .details {
    &__container {
      background: $primary-color;
    }

    &__columns {
      padding-top: 40px;
      padding-bottom: 32px;

      @media #{$media-query} {
        padding-top: 24px;
        padding-bottom: 8px;
      }
    }

    &__text,
    &__title {
      padding-left: $global-padding;
      padding-right: $global-padding;
      color: $white;
    }
  }

  .list-details {
    .wrapper-inner {
      display: inline-table;
    }

    &__container {
      background: none !important;
    }

    &__columns {
      padding: 0;
    }

    &__image {
      display: table-cell;
      width: 12px;
      height: auto;
      padding-left: $global-padding;
      padding-right: 10px;

      @media #{$media-query} {
        width: 12px !important;
        height: 12px !important;
        padding-right: 25px;
      }
    }

    &__text {
      display: table-cell;
      color: $white;

      @media #{$media-query} {
        padding-right: 15px;
      }
    }
  }

  .presenter {
    .wrapper-inner {
      padding-left: $global-padding;
      padding-right: $global-padding;
    }

    &__container {
      background: $white;
    }

    &__columns {
      padding: 0;

      @media #{$media-query} {
        padding-bottom: 0;
      }
    }

    &__image {
      width: 88px;
      height: 88px;

      @media #{$media-query} {
        width: 88px !important;
        height: 88px !important;
      }
    }

    &__button {
      width: 100%;

      @media #{$media-query} {
        max-width: 205px;
      }
    }
  }

  .promo {
    .container {
      background: $white;
    }

    .wrapper-inner {
      padding-left: $global-padding;
      padding-right: $global-padding;
    }

    &__title {
      color: $tertiary-color;

      @media #{$media-query} {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}
