@import 'settings';
@import 'foundation-emails';
@import 'gui';

.promo {
  min-width: $min-width;

  .wrapper-inner {
    background: none;
  }

  &__container {
    background: $light-gray !important;
  }

  &__columns {
    padding-top: $global-padding * 3.25;
    padding-bottom: 0 !important;

    @media #{$media-query} {
      padding-top: $global-padding * 1.5;
    }
  }

  .content-wrapper {
    background: $white;
    border-radius: $global-radius * 3;

    .wrapper-inner {
      padding-top: $global-padding * 2;
      padding-right: $global-padding;
      padding-bottom: $global-padding * 3;
      padding-left: $global-padding;

      @media #{$media-query} {
        padding-bottom: $global-padding * 2;
      }
    }

    &--last {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .footer .wrapper-inner,
      .alert .wrapper-inner {
        padding: 0 !important;
      }

      .footer .columns.last {
        padding-left: $global-padding !important;

        @media #{$media-query} {
          padding-left: 0 !important;
        }
      }
    }

    &__container {
      background: none;
    }

    &__columns {
      padding: 0;
    }
  }

  .header {
    &__container {
      background: none;
    }

    &__columns {
      padding: 0;

      &.last {
        @media #{$media-query} {
          padding-top: 25px !important;
        }
      }
    }

    &__logo {
      .wrapper-inner {
        padding-left: $global-padding !important;

        @media #{$media-query} {
          padding-left: 0 !important;
        }
      }
    }

    &__socials {
      .wrapper-inner {
        padding: 0;
      }

      .container {
        background: none;
      }

      .columns {
        padding: 0;
      }

      .menu {
        background: none;

        img {
          max-width: initial;
        }
      }
    }

    .logo {
      &__image {
        width: 140px;
        height: 24px;
        float: left;

        @media #{$media-query} {
          width: 140px;
          height: 24px;
          float: initial;
        }
      }
    }

    .socials {
      &__inner {
        width: inherit;
        margin: auto;
        margin: auto;

        .wrapper-inner {
          > * {
            display: inline-block;
            width: auto !important;
          }
        }
      }

      &__title {
        font-size: 11px;
        line-height: 24px;
        width: 100% !important;
      }
    }

    .menu-socials {
      &__link {
        padding-top: 0 !important;
        padding-right: $global-padding / 2 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
      }
    }
  }

  .action {
    .wrapper-inner {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .coupon {
    background-color: $secondary-color;
    border-top-left-radius: $global-radius * 3;

    @media #{$media-query} {
      border-top-right-radius: $global-radius * 3;
    }

    &__title {
      display: inline-block;
      width: 100%;
      font-size: 36px;
      line-height: 42px;
      color: $white;
      text-transform: uppercase;
    }

    &__description,
    &__text {
      display: inline-block;
      width: 100%;
      font-size: 28px;
      line-height: 33px;
      color: $white;
    }

    &__description {
      padding-bottom: $global-padding * 1.5;
    }

    &__text {
      padding-bottom: $global-padding / 2;
    }

    &__discount {
      display: inline-block;
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 56px;
      line-height: 68px;
      font-weight: bold;
      color: $white;
    }

    &__date {
      display: inline-block;
      width: 35%;
      font-size: 18px;
      line-height: 21px;
      color: $white;
    }

    .wrapper-inner {
      padding: $global-padding * 2;
      padding-right: $global-padding * 1.5;
    }
  }

  .courses {
    .wrapper-inner {
      padding-bottom: 0;
    }

    &__container {
      background: none;
      padding: 0;
    }

    &__row {
      &:last-of-type {
        > tbody > tr > .columns {
          padding-bottom: 0;
        }
      }
    }

    &__column {
      padding: 0;
    }

    .course {
      > tbody > tr > .wrapper-inner {
        padding-left: $global-padding - 2px;
        padding-right: $global-padding - 2px;
        text-align: center;
      }

      &__image {
        display: inline-block;
      }

      &__image {
        padding-bottom: $global-padding * 2;
        width: 116px;
        height: 75px;

        @media #{$media-query} {
          width: 116px;
          height: 75px;
        }
      }

      &__caption {
        font-weight: bold;
        padding-bottom: $global-padding;
      }

      &__button {
        display: inline-block;

        table {
          td {
            background: $primary-color !important;
          }
          a {
            border-color: $primary-color;
          }
        }
      }
    }

    .price-course {
      > tbody > tr > .wrapper-inner {
        padding: 0;
        text-align: center;
      }

      &__container {
        background: none;
        padding: 0;
      }

      &__column {
        padding: 0;

        &.columns.first {
          padding-left: $global-padding !important;

          th {
            color: $dark-gray;
            text-align: left;
          }
        }

        &.columns.last {
          padding-right: $global-padding !important;

          span {
            color: $secondary-color;
          }

          th {
            text-align: right;
          }
        }
      }
    }
  }

  .feedback {
    > tbody > tr > .wrapper-inner {
      text-align: center;
    }

    &__columns {
      padding: 0;

      &.first {
        @media #{$media-query} {
          padding-bottom: $global-padding * 1.5;

          th {
            text-align: center;
          }
        }
      }

      &.last {
        padding-left: 10px;
      }
    }

    &__image,
    &__button {
      display: inline-block;
    }

    &__image {
      width: 120px;
      height: 120px;

      @media #{$media-query} {
        width: 120px;
        height: 120px;
      }
    }
    &__lead {
      color: $tertiary-color;
    }
  }

  .education {
    .popular-courses,
    .advantages {
      > tbody > tr > .wrapper-inner {
        padding: 0;
      }
    }

    .popular-courses {
      &__centering {
        width: auto;
        min-width: auto;
      }

      &__columns {
        padding: 0 !important;
      }

      &__button {
        table {
          td {
            background: $primary-color !important;
          }
          a {
            border-color: $primary-color;
          }
        }
      }
    }
  }

  .popular-course {
    @media #{$media-query} {
      &:not(:last-of-type) {
        padding-bottom: 40px !important;
      }
    }

    > table > tbody > tr > th {
      text-align: center;
    }

    &__inner {
      min-height: 117px;

      > tbody > tr > .wrapper-inner {
        padding: 0;
        vertical-align: top;
        padding-left: $global-padding !important;
        padding-right: $global-padding !important;
        text-align: center;
      }
    }

    &__icon {
      display: inline-block;
      width: 48px;
      height: 56px;
      padding-bottom: $global-padding;

      @media #{$media-query} {
        width: 48px;
        height: 56px;
      }
    }

    &__description {
      font-size: 13px;
      line-height: 15px;
      hyphens: none;

      @media #{$media-query} {
        max-width: 150px;
        margin: auto;
        margin: auto;
      }
    }

    &__button {
      display: inline-block;
      padding-top: $global-padding;
    }
  }

  .advantages {
    > tbody > tr > .wrapper-inner {
      padding: 0;
    }

    &__container {
      background: none !important;
    }

    &__columns {
      padding: 0;
    }
  }

  .advantage {
    > tbody > tr > .wrapper-inner {
      display: inline-table;
    }
    &__icon {
      display: table-cell;
      width: 40px;
      max-width: 40px;
      height: auto;

      @media #{$media-query} {
        width: 40px !important;
        height: auto !important;
      }
    }

    &__text {
      display: table-cell;
      vertical-align: top;
      padding-left: $global-padding;
      padding-right: 100px;

      @media #{$media-query} {
        padding-right: 15px;
      }

      span {
        display: table-cell;
        width: 100%;
        font-weight: bold;
      }
    }
  }
}
