.promo {
  &.container {
    background: transparent !important;
  }
  &__wrapper {
    &.columns {
      &.first,
      &.last {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-left: $global-padding;
        padding-right: $global-padding;
      }
    }
  }

  .header {
    margin-left: $global-margin / 2;
    margin-right: $global-margin / 2;
    text-align: justify;

    @media only screen and (max-width: #{$global-breakpoint}) {
      display: table;
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: center !important;
    }

    &__logo {
      display: inline-block;
      margin-left: $global-margin;
      margin-bottom: 0;

      @media only screen and (max-width: #{$global-breakpoint}) {
        display: table-footer-group !important;
        margin-left: auto;
        text-align: center;
      }

      img {
        @media only screen and (max-width: #{$global-breakpoint}) {
          width: 140px !important;
          margin: auto;
        }
      }
    }

    .socials {
      display: inline-block;
      margin-right: $global-margin;

      @media only screen and (max-width: #{$global-breakpoint}) {
        display: table-header-group;
        margin-right: 0;
        margin-bottom: $global-margin * 1.5;
      }

      &__row {
        display: table-row;

        @media only screen and (max-width: #{$global-breakpoint}) {
          display: inline-block;
        }
      }

      &__text {
        vertical-align: middle;
        display: table-cell;
        font-size: 11px;
        white-space: nowrap;
        text-align: center;
        padding-right: $global-padding / 2;
      }

      .menu-socials {
        vertical-align: middle;
        display: table-cell;
        width: auto;
        white-space: nowrap;

        &__item {
          padding: 0;
          padding-right: $global-padding / 2;
        }

        &__image {
          @media only screen and (max-width: #{$global-breakpoint}) {
            width: 24px !important;
          }
        }
      }
    }

    &--after {
      display: inline-block;
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }

  .special-offer {
    background: $white;
    border-radius: $global-radius * 3;

    .intro-special-offer {
      background: transparent;
      border-radius: $global-radius * 3;

      .columns {
        padding-bottom: 0;

        &.last {
          center {
            min-width: auto;
          }
        }
      }

      &__wrapper {
        background: $secondary-color;
        border-top-left-radius: $global-radius * 3;

        @media only screen and (max-width: #{$global-breakpoint}) {
          border-top-right-radius: $global-radius * 3;
        }

        .wrapper-inner {
          padding: $global-padding * 2 !important;
        }
      }

      &__heading {
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        color: $white;
        text-transform: uppercase;
      }

      &__accent {
        display: block;
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        color: $white;
      }

      &__inner {
        display: inline-block;
        text-align: justify;

        &--after {
          display: inline-block;
          width: 100%;
          height: 0;
          visibility: hidden;
          overflow: hidden;
        }
      }

      &__discount-amount {
        display: table-cell;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1;
        color: $white;
      }

      &__note {
        display: table-cell;
        vertical-align: bottom;
        padding-left: $global-padding / 2;
        padding-bottom: $global-padding / 6;
        font-size: 18px;
        line-height: 1.2;
        text-align: left;
        color: $white;
      }
    }

    .courses-special-offer {
      background: transparent;

      > tbody > tr > td {
        padding-left: $global-padding;
        padding-right: $global-padding;
      }

      .columns {
        padding-bottom: $global-padding * 1.5;

        @media only screen and (max-width: #{$global-breakpoint}) {
          padding-bottom: 20px !important;
        }
      }

      center {
        min-width: auto;
      }

      &__heading {
        margin-bottom: 0 !important;
        font-weight: 700;
        line-height: 1.2;
      }

      &__price {
        display: inline-block;

        &--original {
          color: $medium-gray;
          text-decoration: line-through;
        }

        &--accent {
          color: $secondary-color;
        }
      }

      &__image {
        @media only screen and (max-width: #{$global-breakpoint}) {
          width: 165px !important;
          height: 105px !important;
        }
      }

      &__inner {
        display: inline-block;
        text-align: justify;

        &--after {
          display: inline-block;
          width: 100%;
          height: 0;
          visibility: hidden;
          overflow: hidden;
        }
      }
    }
  }

  .feedback {
    background: $white;
    border-radius: $global-radius * 3;

    center {
      min-width: auto;
    }

    .container {
      margin-bottom: 40px;
      background: transparent;

      @media only screen and (max-width: #{$global-breakpoint}) {
        margin-bottom: 24px;
      }

      .columns {
        padding-bottom: 0;
      }

      center {
        min-width: auto;
      }
    }

    .wrapper-inner {
      padding: $global-padding !important;
    }

    &__image {
      padding: 5px;
      border: 1px solid $tertiary-color;
      border-radius: 50%;

      @media only screen and (max-width: #{$global-breakpoint}) {
        width: 107px !important;
        height: auto;
      }
    }

    &__heading {
      margin-bottom: 0;
      font-weight: 700;
    }

    &__summary {
      margin-bottom: 0;
      font-weight: 700;
      color: $tertiary-color;
    }

    &__text {
      margin-bottom: 0;
      line-height: 1.2;
    }

    &__button {
      margin-bottom: 0;
    }
  }

  .education {
    background: $white;
    border-radius: $global-radius * 3;

    .wrapper-inner {
      padding: $global-padding !important;
    }

    .popular-courses {
      center {
        min-width: auto;
      }

      .container {
        background: transparent;

        > tbody > tr > td {
          padding-left: 12px;
          padding-right: 12px;
        }

        .columns {
          vertical-align: top;

          @media only screen and (max-width: #{$global-breakpoint}) {
            padding-bottom: 40px;
          }

          &.first {
            padding-right: 12px;

            @media only screen and (max-width: #{$global-breakpoint}) {
              padding-right: 0;
            }
          }

          &.last {
            padding-left: 12px;

            @media only screen and (max-width: #{$global-breakpoint}) {
              padding-left: 0;
            }
          }
        }

        td.large-4,
        th.large-4 {
          padding-left: 12px;
          padding-right: 12px;

          @media only screen and (max-width: #{$global-breakpoint}) {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }
        }

        center {
          min-width: auto;
        }
      }

      &__heading {
        margin-bottom: 0;
        font-weight: 700;
      }

      &__image {
        @media only screen and (max-width: #{$global-breakpoint}) {
          max-width: none !important;
          width: 288px !important;
          margin-left: -$global-margin !important;
          margin-right: -$global-margin !important;
        }
      }
    }

    .course {
      &__inner {
        min-height: 120px;
      }
      &__image {
        width: 48px;

        @media only screen and (max-width: #{$global-breakpoint}) {
          width: 48px !important;
          height: auto;
        }
      }

      &__title {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 1.16;
        font-weight: 700;

        @media only screen and (max-width: #{$global-breakpoint}) {
          max-width: 150px;
        }
      }

      &__button {
        margin-bottom: 0;
      }
    }

    .advantages {
      .container {
        background: transparent;
      }

      &__heading {
        margin-bottom: 0;
        font-weight: 700;
      }

      .item-list {
        img {
          @media only screen and (max-width: #{$global-breakpoint}) {
            max-width: none !important;
            width: 40px !important;
          }
        }

        .columns.first {
          @media only screen and (max-width: #{$global-breakpoint}) {
            padding-right: $global-padding !important;
          }

        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .footer {
    background: $white;
    border-top-left-radius: $global-radius * 3;
    border-top-right-radius: $global-radius * 3;

    .columns {
      &.first {
        padding-left: $global-padding !important;
      }

      &.last {
        padding-right: $global-padding !important;

        @media only screen and (max-width: #{$global-breakpoint}) {
          padding-right: 0 !important;
          padding-left: $global-padding !important;
        }
      }
    }
  }
}
