.promo {
  &.container {
    background: transparent !important;
  }
  &__wrapper {
    &.columns {
      &.first,
      &.last {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }

      @media only screen and (max-width: #{$global-breakpoint}) {
        padding-left: $global-padding;
        padding-right: $global-padding;
      }
    }
  }

  .header {
    margin-left: $global-margin / 2;
    margin-right: $global-margin / 2;
    text-align: justify;

    @media only screen and (max-width: #{$global-breakpoint}) {
      display: table;
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: center !important;
    }

    &__logo {
      display: inline-block;
      margin-bottom: 0;

      @media only screen and (max-width: #{$global-breakpoint}) {
        display: table-footer-group !important;
        text-align: center;
      }

      img {
        @media only screen and (max-width: #{$global-breakpoint}) {
          width: 140px !important;
          margin: auto;
        }
      }
    }

    .socials {
      display: inline-block;

      @media only screen and (max-width: #{$global-breakpoint}) {
        display: table-header-group;
      }

      &__row {
        display: table-row;

        @media only screen and (max-width: #{$global-breakpoint}) {
          display: inline-block;
        }
      }

      &__text {
        vertical-align: middle;
        display: table-cell;
        font-size: 11px;
        white-space: nowrap;
        text-align: center;
        padding-right: $global-padding / 2;
      }

      .menu-socials {
        vertical-align: middle;
        display: table-cell;
        width: auto;
        white-space: nowrap;

        &__item {
          padding: 0;
          padding-right: $global-padding / 2;
        }

        &__image {
          @media only screen and (max-width: #{$global-breakpoint}) {
            width: 24px !important;
          }
        }
      }
    }

    &--after {
      display: inline-block;
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }

  .special-offer {
    .intro-special-offer {
      border-radius: $global-radius * 3;

      &__wrapper {
        background: $secondary-color;
        border-top-left-radius: $global-radius * 3;

        @media only screen and (max-width: #{$global-breakpoint}) {
          border-top-right-radius: $global-radius * 3;
        }

        .wrapper-inner {
          padding-top: 40px;
          padding-left: $global-padding * 2;
          padding-right: $global-padding * 2;
          padding-bottom: $global-padding * 2;
        }
      }

      &__columns {
        padding-bottom: 0;

        &--last {
          center {
            min-width: auto;
          }
        }
      }

      &__image {
        width: 284px;
        height: auto;
      }

      &__heading {
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        color: $white;
        text-transform: uppercase;
      }

      &__accent {
        display: block;
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        color: $white;
      }

      &__inner {
        display: inline-block;
        text-align: justify;

        &--after {
          display: inline-block;
          width: 100%;
          height: 0;
          visibility: hidden;
          overflow: hidden;
        }
      }

      &__discount-amount {
        display: table-cell;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1;
        color: $white;
      }

      &__note {
        display: table-cell;
        vertical-align: bottom;
        padding-left: $global-padding / 2;
        padding-bottom: $global-padding / 6;
        font-size: 18px;
        line-height: 1.2;
        text-align: left;
        color: $white;
      }
    }
  }

  .footer {
    background: $white;
    border-top-left-radius: $global-radius * 3;
    border-top-right-radius: $global-radius * 3;

    &__columns {
      &.columns {
        &.first {
          padding-left: $global-padding !important;
        }

        &.last {
          padding-right: $global-padding !important;

          @media only screen and (max-width: #{$global-breakpoint}) {
            padding-right: 0 !important;
            padding-left: $global-padding !important;
          }
        }
      }
    }
  }
}
