@import 'settings';
@import 'foundation-emails';
@import 'gui';

.welcome {
  min-width: $min-width;

  .wrapper-inner {
    background: none;
  }

  &__container {
    background: $white !important;
  }

  &__columns {
    &.columns.first.last {
      padding: 0 !important;

      @media #{$media-query} {
        padding: 0 !important;
      }
    }
  }

  .content-wrapper {
    &__columns {
      &.columns.first.last {
        padding: $global-padding !important;
      }
    }

    &:first-of-type {
      &__container {
        background: none;
      }
    }

    &:last-of-type {
      &__container {
        background: $primary-color;
      }
    }
  }

  .header {
    &__logo {
      width: 186px !important;
      height: 32px !important;

      @media #{$media-query} {
        width: 140px !important;
        height: 24px !important;
      }
    }

    &__menu {
      .wrapper-inner {
        text-align: justify;

        @media #{$media-query} {
          text-align: center;
        }

        &::after {
          content: '';
          display: inline-block;
          width: 100%;
        }
      }
      .menu__item {
        display: inline-block;
        padding-top: $global-padding / 2;
        padding-left: $global-padding;
        padding-bottom: $global-padding / 2;
        padding-right: $global-padding;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:nth-child(1) {
          color: $primary-color;
        }

        &:nth-child(2) {
          color: $secondary-color;
        }

        &:nth-child(3) {
          color: $tertiary-color;
        }

        &:nth-child(4) {
          color: $quaternary-color;
        }
      }
    }

    &__columns {
      padding: 0;
    }
  }

  .intro {
    &__container {
      background: $primary-color;
    }

    &__columns.columns {
      padding-bottom: 0 !important;

      &.first {
        padding-top: $global-padding * 2 !important;
        padding-left: $global-padding * 2 !important;
        padding-right: 0;

        @media #{$media-query} {
          padding-top: $global-padding * 1.5 !important;
          padding-left: $global-padding !important;
          padding-right: $global-padding !important;
        }
      }

      &.last {
        padding-left: 0;
        padding-right: $global-padding * 2 !important;

        @media #{$media-query} {
          padding-right: 0 !important;
          padding-left: $global-padding * 4.5 !important;
          padding-right: $global-padding * 4.5 !important;
          padding-bottom: $global-padding * 1.5 !important;
        }
      }
    }

    &__title,
    &__text {
      padding: 0;
      color: $white !important;
    }

    &__title {
      font-weight: bold;
    }
  }

  .about {
    &__columns {
      padding: 0;
      padding-top: 30px !important;
      padding-bottom: $global-padding !important;

      @media #{$media-query} {
        padding-top: 25px !important;
      }

      &.columns.first.last {
        padding-left: $global-padding !important;
        padding-right: $global-padding !important;
      }
    }

    &__title {
      color: $secondary-color;
    }
  }

  .presenters {
    &__columns {
      padding: 0;

      &:not(:last-of-type) {
        padding-bottom: 50px !important;

        @media #{$media-query} {
          padding-bottom: 35px !important;
        }
      }

      &.columns.first,
      &.columns.last {
        padding-left: $global-padding !important;
        padding-right: $global-padding !important;

        @media #{$media-query} {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    &__title {
      color: $tertiary-color;
    }
  }

  .presenter {
    &__image {
      margin: auto;
      margin: auto;
      padding-bottom: 10px;

      @media #{$media-query} {
        width: 88px !important;
        height: 88px !important;
      }
    }
  }

  .events {
    &__columns {
      padding-bottom: $global-padding / 2;
    }

    &__intro {
      padding-left: $global-padding;
      padding-right: $global-padding;
    }

    &__title {
      color: $primary-color;
    }

    &__item {
      .wrapper-inner {
        padding-bottom: $global-padding !important;
      }
    }

    &__button {
      td td {
        padding-top: $global-padding / 2;
        padding-right: $global-padding;
        padding-bottom: $global-padding / 2;
        padding-left: $global-padding;
      }
    }
  }

  .event {
    &__container {
      display: inline-block;
      border: 1px solid $tertiary-color;
      border-radius: 15px;
    }

    &__columns {
      &.columns.first.last {
        padding-top: $global-padding * 1.5 - 1px;
        padding-left: $global-padding !important;
        padding-bottom: $global-padding * 1.5 - 1px;
        padding-right: $global-padding !important;
      }
    }

    &__title {
      color: $tertiary-color;
      padding-bottom: $global-padding / 2;
    }

    &__date-and-time {
      font-weight: bold;
      padding-bottom: $global-padding;
    }
  }

  &__divider {
    margin: 0;
    margin: 0;
    color: $dark-gray;
  }

  &__alert {
    .wrapper-inner {
      padding-left: $global-padding;
      padding-right: $global-padding;

      @media #{$media-query} {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
