@import 'settings';
@import 'foundation-emails';
@import 'gui';

.welcome {
  .wrapper-inner {
    background: none;
    outline: 1px dashed red;
  }

  &__container {
    background: $white !important;
  }

  &__columns {
    &.columns.first.last {
      padding: 0 !important;

      @media #{$media-query} {
        padding: 0 !important;
      }
    }
  }

  .content-wrapper {
    &__columns {
      &.columns.first.last {
        padding: $global-padding !important;
      }
    }

    &:first-of-type {
      &__container {
        background: none;
      }
    }

    &:last-of-type {
      &__container {
        background: $primary-color;
      }
    }
  }

  .header {
    &__logo {
      width: 186px !important;
      height: 32px !important;

      @media #{$media-query} {
        width: 140px !important;
        height: 24px !important;
      }
    }

    &__menu {
      .wrapper-inner {
        text-align: justify;

        @media #{$media-query} {
          text-align: center;
        }

        &::after {
          content: '';
          display: inline-block;
          width: 100%;
        }
      }
      .menu__item {
        display: inline-block;
        padding-top: $global-padding / 2;
        padding-left: $global-padding;
        padding-bottom: $global-padding / 2;
        padding-right: $global-padding;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:nth-child(1) {
          color: $primary-color;
        }

        &:nth-child(2) {
          color: $secondary-color;
        }

        &:nth-child(3) {
          color: $tertiary-color;
        }

        &:nth-child(4) {
          color: $quaternary-color;
        }
      }
    }

    &__columns {
      padding: 0;
    }
  }

  .intro {
    &__container {
      background: $primary-color;
    }

    &__columns.columns {
      padding-bottom: 0 !important;

      &.first {
        padding-top: $global-padding * 2 !important;
        padding-left: $global-padding * 2 !important;
        padding-right: 0;

        @media #{$media-query} {
          padding-top: $global-padding * 1.5 !important;
          padding-left: $global-padding !important;
          padding-right: $global-padding !important;
        }
      }

      &.last {
        padding-left: 0;
        padding-right: $global-padding * 2 !important;

        @media #{$media-query} {
          padding-right: 0 !important;
          padding-left: $global-padding * 4.5 !important;
          padding-right: $global-padding * 4.5 !important;
          padding-bottom: $global-padding * 1.5 !important;
        }
      }
    }

    &__title,
    &__text {
      padding: 0;
      color: $white !important;
    }

    &__title {
      font-weight: bold;
    }
  }
}
