@import 'invitation';
@import 'welcome';
@import 'promo';

.alert {
  &__text {
    text-align: justify;
  }

  &__text,
  &__link {
    font-size: 11px;
    line-height: 13px;
    color: $dark-gray;
  }
}

.footer {
  background: none;

  &__columns {
    padding: 0 !important;
  }
}

.socials,
.contacts {
  .wrapper-inner {
    padding-left: $global-padding;
    padding-right: $global-padding;

    @media #{$media-query} {
      padding-left: $global-padding / 2;
      padding-right: $global-padding / 2;
    }
  }
}

.menu-socials {
  width: 62% !important;

  &__link {
    padding: 0px !important;

    @media #{$media-query} {
      padding: 4px !important;
    }
  }

  &__image {
    @media #{$media-query} {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.menu-contacts {
  &__link {
    padding: 0 !important;
    padding-bottom: 5px !important;

    &.menu-item {
      @media #{$media-query} {
        width: 100% !important;
        padding-bottom: 8px !important;
      }
    }

    a {
      text-decoration: none;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: $tertiary-color;
  }
}

.links {
  .wrapper-inner {
    padding-left: $global-padding / 2;
    padding-right: $global-padding / 2;
  }
}

.menu-links {
  &__link {
    padding: 0 !important;
    padding-bottom: 8px !important;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
  }
}
