@import 'settings';
@import 'foundation-emails';
@import 'helpers';

// outer wrapper
.webinar {
  .container {
    background: $light-gray;
  }

  .columns {
    padding-bottom: 0;
  }

  // inner wrapper
  &__content-wrapper {
    background: $white;
  }
}

// alert
.alert {
  $alert: &;

  .wrapper-inner {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__text,
  &__link {
    font-size: 11px;
    line-height: 13px;
  }

  &--before-the-start {
    #{$alert}__link {
      color: $tertiary-color;
    }
  }

  &--after-the-end {
    #{$alert}__text {
      text-align: justify;
    }

    #{$alert}__text,
    #{$alert}__link {
      color: $dark-gray;
    }
  }
}

// header
.header {
  .wrapper-inner {
    padding-left: 8px;
    padding-right: 8px;
  }

  &__logo {
    width: 140px !important;
    height: 24px !important;
  }

  &__title {
    font-size: 36px;
    line-height: 42px;
    color: $primary-color;
    font-weight: bold;

    @media #{$media-query} {
      font-size: 28px;
      line-height: 33px;
    }
  }

  &__lead {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    line-height: 28px;
    color: $secondary-color;
    font-weight: bold;

    @media #{$media-query} {
      padding-left: 0;
      padding-right: 0;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__container {
    background: $white !important;

    center {
      min-width: auto !important;
    }
  }
}

// date
.date {
  background: $secondary-color;
  border-radius: $global-radius;

  .container {
    background: $quaternary-color;
  }

  .wrapper-inner {
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 25px;
    padding-right: 35px;
  }

  &__content-wrapper {
    .wrapper-inner {
      padding: 0;
      padding-bottom: 15px;
    }
  }

  &__month,
  &__day,
  &__time {
    font-weight: bold;
    color: $white;
  }

  &__month,
  &__time {
    font-size: 36px;
    line-height: 42px;
  }

  &__day {
    font-size: 96px;
    line-height: 111px;
  }

  &__button {
    table {
      td {
        background: $quaternary-color !important;
        border-radius: $global-radius;
      }
      a {
        border-color: $quaternary-color;
      }
    }
  }
}

// details
.details {
  background: $primary-color;

  .wrapper-inner {
    padding-top: 40px;
    padding-left: 16px;
    padding-bottom: 40px;
    padding-right: 16px;

    @media #{$media-query} {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__text,
  &__title {
    color: $white;
  }
}

.list-details {
  $list-details: &;

  &.menu.vertical {
    #{$list-details}__column {
      &--first,
      &--last {
        @media #{$media-query} {
          display: inline-block !important;
        }
      }
    }
  }

  &__inner {
    background: none !important;

    @media #{$media-query} {
      table &.container {
        width: 100% !important;
      }
    }
  }
  &__item {
    padding: 0 !important;
    pointer-events: none;
  }

  &__text {
    color: $white;
  }

  &__image {
    width: 12px;
    height: auto;

    @media #{$media-query} {
      width: 12px !important;
      padding-top: 5px;
    }
  }

  &__column {
    &--first,
    &--last {
      padding: 0 !important;
      vertical-align: middle !important;

      @media #{$media-query} {
        vertical-align: top !important;

        &.columns.first,
        &.columns.last {
          margin: 0;
          margin: 0;
        }
      }
    }

    &--first {
      width: 5% !important;

      @media #{$media-query} {
        &.columns.first {
          width: 10% !important;
        }
      }
    }

    &--last {
      width: 95% !important;

      @media #{$media-query} {
        &.columns.last {
          width: 80% !important;
        }
      }
    }
  }
}
