<row>
  <columns>
    <spacer size-lg="48" size-sm="40"></spacer>
    <h2 class="about__heading text-center">Что вас ждет на&nbsp;курсе</h2>
    <spacer size="24"></spacer>
    <p class="about__text">
      Вы&nbsp;будете изучать теорию и&nbsp;методику на&nbsp;примере учебного
      проекта, который разработали наши эксперты. А&nbsp;применить полученные
      знания на&nbsp;практике вы&nbsp;сможете, выполняя задания по&nbsp;личному
      проекту.
    </p>
    <p class="about__text">
      В&nbsp;этом вам будет помогать наставник&nbsp;&mdash; опытный специалист,
      который проверит домашние задания и&nbsp;поделится секретами мастерства.
      А&nbsp;если у&nbsp;вас останутся вопросы, наставник сможет ответить
      на&nbsp;них на&nbsp;консультации.
    </p>
    <p class="about__text">
      После завершения курса вам нужно будет подготовить свой проект
      к&nbsp;защите&nbsp;&mdash; убедиться, что он&nbsp;реализован
      в&nbsp;соответствии с&nbsp;техническим заданием.
    </p>
    <p class="about__text">
      Желаем вам продуктивной работы на&nbsp;интенсиве и&nbsp;успешной защиты.
      У&nbsp;вас всё получится, мы&nbsp;в&nbsp;вас верим!
    </p>
    <spacer size="16"></spacer>
  </columns>
</row>
