<spacer size-sm="40" size-lg="56"></spacer>

<!-- <center> -->
  <h1 class="header__logo text-center">
    <a href="#" target="_blank"
      ><img
        src="{{root}}assets/img/welcome/intro_logo@2x.png"
        width="187"
        height="32"
        alt="PlayHTML logo"
    /></a>
  </h1>
<!-- </center> -->

<spacer size-lg="48" size-sm="32"></spacer>

<container class="header__main-nav main-nav">
  <ul class="main-nav__list">
    {{#each main-nav}}
    <li
      class="main-nav__list-item main-nav__list-item--{{#inc}}{{@index}}{{/inc}}"
    >
      <a class="main-nav__link" href="{{href}}" target="_blank">{{{title}}}</a>
    </li>
    &nbsp; {{/each}}
    <span class="main-nav__list--after"></span>
  </ul>
</container>

<spacer size-lg="10" size-sm="18"></spacer>
<container class="header__intro intro">{{> welcome-intro}}</container>
