<spacer size-sm="16" size-lg="32"></spacer>
<div class="show-for-large">
  <p class="events__intro">
    Пока вы&nbsp;ждёте начала курса, вам могут быть интересны вебинары
    на&nbsp;разные темы, которые проходят на&nbsp;платформе ежедневно.
  </p>
</div>
<spacer size-sm="0" size-lg="48"></spacer>
<h2 class="events__heading text-center">Другие мероприятия</h2>
<spacer size-sm="16" size-lg="24"></spacer>
{{#each events as |event|}}
<row>
  <columns class="events__item event" large="12">
    <h4 class="event__heading">{{{title}}}</h4>
    <span class="event__date"
      ><strong>{{#dateformat}}{{event.date}}{{/dateformat}}</strong></span
    >
    <spacer size="16"></spacer>
    <p class="event__description">{{{description}}}</p>
  </columns>
</row>
{{/each}}
<spacer size="16"></spacer>

<center>
  <button class="events__button btn radius secondary" href="#">
    <span class="text-center">Все мероприятия</span>
  </button>

  <img
    class="events__image"
    src="{{root}}assets/img/welcome/events_bg@2x.png"
    width="273"
    height="290"
    alt="Декоративное изображение радующихся студентов"
  />
  <spacer size-sm="24" size-lg="8"></spacer>
</center>
