<row>
  <columns class="intro__content content-intro" small="12" large="9">
    <h6 class="content-intro__heading">Здравствуйте, <span>\{{name}}</span></h6>
    <p class="content-intro__text">
      Благодарим вас за&nbsp;регистрацию на&nbsp;курс &laquo;Начальный
      html+css&raquo;.
    </p>
    <p class="content-intro__text">
      Курс стартует 1&nbsp;июля в&nbsp;17.00 по&nbsp;московскому времени. Письма
      со&nbsp;ссылками для входа в&nbsp;кабинет придут на указанную почту
      за&nbsp;день до&nbsp;старта курса.
    </p>
  </columns>
  <columns class="intro__image" small="12" large="3">
    <center>
      <img
        src="{{root}}assets/img/welcome/intro_bg@2x.png"
        width="175"
        height="269"
        alt="Decorative image of a student on a laptop"
      />
    </center>
  </columns>
</row>
<spacer size-sm="16"></spacer>
