<h1 class="intro__heading text-center">
  Хотите научиться web&#8209;разработке?
</h1>
<spacer size="16"></spacer>
<h4 class="intro__subtitle text-center">
  Приглашаем Вас на&nbsp;бесплатный вебинар
  &laquo;Тренды&nbsp;Frontend-разработки 2020&raquo;
</h4>
<spacer size-sm="16" size-lg="32"></spacer>
<container class="intro__webinar-registration webinar-registration">
  <row>
    <columns large="4" small="12">
      <callout class="webinar-registration__wrapper radius">
        <center class="webinar-registration__date-time date-time">
          <div class="date-time__month">июнь</div>
          <spacer size="4"></spacer>
          <div class="date-time__day">20</div>
          <spacer size="16"></spacer>
          <div class="date-time__time"><span>17</span>:<span>00</span></div>
          <spacer size="16"></spacer>
          <button href="#" class="webinar-registration__button radius">
            На&nbsp;вебинар
          </button>
        </center>
      </callout>
    </columns>
    <columns large="8" small="12">
      <center class="webinar-registration__inner">
        <img
          class="webinar-registration__image"
          src="{{root}}assets/img/invitation/intro_bg@2x.png"
          width="352"
          height="286"
          alt="Декоративное изображение студента за ноутбуком"
        />
      </center>
    </columns>
  </row>
</container>
