<h4 class="presenter__heading text-center">Ведущий вебинара</h4>
<spacer size="24"></spacer>
<center>
  <img
    class="presenter__image"
    src="{{root}}assets/img/invitation/presenter_portrait@2x.png"
    width="88"
    height="88"
    alt="Portrait of the webinar presenter"
  />
</center>
<spacer size="12"></spacer>
<span class="presenter__name text-center"><strong>Иван Васильев</strong></span>
<p class="presenter__about text-center">
  Frontend-разработчик компании Cats Development
</p>
<spacer size-sm="20" size-lg="24"></spacer>
<center>
  <button class="presenter__button btn radius secondary" href="#">
    <span class="text-center">Зарегистрироваться на&nbsp;вебинар</span>
  </button>
</center>
