<row class="footer__row">
  <columns class="footer__columns" small="12" large="6">
    <div class="footer__socials socials">
      <h6 class="socials__heading">Мы&nbsp;в&nbsp;социальных сетях</h6>
      <spacer size="16"></spacer>
      <menu class="socials__menu menu-socials">
        {{#each socials as | social |}}
        <item class="menu-socials__item" href="{{href}}" target="_blank"
          ><img
            class="menu-socials__image"
            src="{{root}}assets/img/invitation/socials_{{title}}@2x.png"
            alt="{{title}} symbol"
            width="24"
            height="24"
        /></item>
        {{/each}}
      </menu>
    </div>
    <spacer size="24"></spacer>
    <div class="footer__contacts contacts">
      <h6 class="contacts__heading">Свяжитесь с&nbsp;нами</h6>
      <spacer size="8"></spacer>
      <menu class="contacts__menu menu-contacts vertical">
        {{#each contacts as | contact |}}
        <item class="menu-contacts__item" href="{{href}}" target="_blank">{{title}}</item>
        {{/each}}
      </menu>
    </div>
    <spacer size-sm="32"></spacer>
  </columns>
  <columns class="footer__columns" small="12" large="6">
    <div class="footer__links links">
      <h6 class="links__heading">Полезные ссылки</h6>
      <spacer size="16"></spacer>
      <menu class="links__menu menu-links vertical">
        {{#each links as | link |}}
        <item class="menu-links__item" href="{{href}}" target="_blank">{{title}}</item>
        {{/each}}
      </menu>
    </div>
  </columns>
</row>
<spacer size="24"></spacer>
