<center>
  <img
    class="features__image"
    src="{{root}}assets/img/invitation/features_bg@2x.png"
    width="278"
    height="278"
    alt="Декоративное изображение участников вебинара"
  />
</center>
<spacer size="16"></spacer>
<h2 class="features__heading text-center">
  Среди участников вебинара будут разыграны ценные призы!
</h2>
<spacer size-sm="30" size-lg="24"></spacer>
<center>
  <button class="features__button btn btn--secondary radius" href="#">
    <span class="text-center">Зарегистрироваться</span>
  </button>
  <spacer size-sm="0" size-lg="8"></spacer>
</center>
<p class="features__note text-center">
  Количество мест на&nbsp;вебинаре ограничено.
</p>
