<callout class="details__wrapper">
  <p class="details__intro">
    Мы&nbsp;расскажем все детали о&nbsp;том, с&nbsp;чего начать свой путь
    в&nbsp;разработке сайтов, и&nbsp;как вырасти в&nbsp;востребованного
    специалиста. Все вопросы&nbsp;Вы сможете задать спикеру на&nbsp;вебинаре :)
  </p>
  <spacer size-sm="24" size-lg="32"></spacer>
  <h2 class="details__heading">План вебинара:</h2>
  <spacer size="16"></spacer>
  <container class="details__list list">
    {{#each details}}
    <row class="list__item item-list">
      <columns class="item-list__image" small="0">
        <img
          src="{{root}}assets/img/invitation/details_{{image-modifier}}@2x.png"
          alt="{{image-modifier}} symbol"
          width="12"
          height="12"
        />
      </columns>
      <columns class="item-list__text" small="12">
        <p>{{{text}}}</p>
      </columns>
    </row>
    {{/each}}
  </container>
</callout>
