<wrapper class="{{page}}__alert alert">
  <p class="alert__text">
    Вы&nbsp;получили это&nbsp;письмо, так как являетесь пользователем портала
    HTMLPlay. Рассылка производится в&nbsp;соответствии с&nbsp;пользовательским
    соглашением. Если вы&nbsp;не&nbsp;хотите получать рассылку, вы&nbsp;можете
    <a class="alert__link" href="#" target="_blank">отписаться</a>
    или
    <a class="alert__link" href="#" target="_blank">настроить&nbsp;параметры</a
    >.
  </p>

  <spacer size="12"></spacer>
  <p class="alert__text">
    Если письмо отображается некорректно или вы&nbsp;хотите им&nbsp;поделиться,
    <a class="alert__link" href="#" target="_blank">жмите&nbsp;сюда</a>.
  </p>
</wrapper>
