<img
  class="features__image"
  src="{{root}}assets/img/invitation/features_bg@2x.png"
  width="278"
  height="278"
  alt="Decorative image of the webinar participants"
/>
<spacer size-sm="24" size-lg="16"></spacer>
<h2 class="features__heading text-center">
  Среди участников вебинара будут разыграны ценные призы!
</h2>
<spacer size="24"></spacer>
<button class="features__button radius secondary">Зарегистрироваться</button>
<spacer size="24"></spacer>
<p class="features__note text-center">
  Количество мест на&nbsp;вебинаре ограничено.
</p>
