<wrapper class="{{page}}__footer footer">
  <container class="footer__container">
    <row class="footer__row">
      <columns class="footer__columns" small="12" large="6">
        <wrapper class="footer__socials socials">
          <h4 class="socials__title">Мы в&nbsp;социальных сетях</h4>
          <spacer size-sm="10" size-lg="16"></spacer>
          <menu class="socials__menu menu-socials">
            {{#each footer.socials}}
            <item class="menu-socials__link" href="#" target="_blank"
              ><img
                class="menu-socials__image"
                src="assets/img/{{this}}@2x.png"
                alt="{{this}}"
                width="24"
                height="24"
            /></item>
            {{/each}}
          </menu>
        </wrapper>
        <spacer size="22"></spacer>
        <wrapper class="footer__contacts contacts">
          <h4 class="contacts__title">Свяжитесь с&nbsp;нами</h4>
          <spacer size="10"></spacer>
          <menu class="contacts__menu menu-contacts vertical">
            {{#each footer.contacts}}
            <item class="menu-contacts__link" href="{{key}}" target="_blank"
              ><p class="menu-contacts__text text-left">{{this}}</p></item
            >
            {{/each}}
          </menu>
        </wrapper>
      </columns>
      <columns class="footer__columns" small="12" large="6">
        <wrapper class="footer__links links">
          <spacer size-sm="25" size-lg="0"></spacer>
          <h4 class="links__title">Полезные ссылки</h4>
          <spacer size="15"></spacer>
          <menu class="links__menu menu-links vertical">
            {{#each footer.links}}
            <item class="menu-links__link" href="#" target="_blank"
              ><p class="menu-links__text">{{this}}</p></item
            >
            {{/each}}
          </menu>
        </wrapper>
      </columns>
    </row>
  </container>
</wrapper>
