<p class="info info--next">
  Вы&nbsp;получили это письмо, так как являетесь пользователем портала HTMLPlay.
  Рассылка производится в&nbsp;соответствии с&nbsp;пользовательским соглашением.
  Если вы&nbsp;не&nbsp;хотите получать рассылку, вы&nbsp;можете
  <a class="info__link" href="#" target="_blank">отписаться</a> или
  <a class="info__link" href="#" target="_blank">настроить параметры</a>.
</p>

<p class="info info--next">
  Если письмо отображается некорректно или вы&nbsp;хотите им&nbsp;поделиться,
  <a class="info__link" href="#" target="_blank">жмите сюда</a>.
</p>
