<container class="special-offer__intro intro-special-offer">
  <row class="collapse">
    <columns small="12" large="6">
      <wrapper class="intro-special-offer__wrapper">
        <span class="intro-special-offer__heading">акция</span>
        <span class="intro-special-offer__accent">на&nbsp;наши курсы</span>
        <spacer size="32"></spacer>
        <span class="intro-special-offer__accent">скидка</span>
        <spacer size="16"></spacer>
        <div class="intro-special-offer__inner">
          <span class="intro-special-offer__discount-amount">20%</span>
          <span class="intro-special-offer__note">до&nbsp;конца июня</span>
          <span class="intro-special-offer__inner--after"></span>
        </div>
      </wrapper>
    </columns>
    <columns small="12" large="6">
      <center>
        <img
          class="intro-special-offer__image"
          src="{{root}}assets/img/promo/intro-special-offer_bg@2x.png"
          width="284"
          height="271"
          alt="Декоративное изображение студентов PlayHTML, запускающие в небо воздушные шарики"
        />
      </center>
    </columns>
  </row>
</container>
