<container class="special-offer__courses courses-special-offer">
  <h4 class="courses-special-offer__heading text-center">
    Курсы, учавствующие в&nbsp;акции
  </h4>
  <spacer size="24"></spacer>
  {{#each courses as | course |}} {{#if (is-even @index)}}<row
    >{{/if}}
    <columns small="12" large="6">
      <center>
        <img
          class="courses-special-offer__image"
          src="{{root}}assets/img/promo/courses-special-offer_{{image-filename}}-logo@2x.png"
          width="165"
          height="105"
          alt="Логотип {{image-filename}}"
        />
        <spacer size="16"></spacer>
        <h6 class="courses-special-offer__heading text-center">{{{title}}}</h6>
        <spacer size="16"></spacer>
        <div class="courses-special-offer__inner">
          <span
            class="courses-special-offer__price courses-special-offer__price--original"
            >{{#format-number}}{{course.price}}{{/format-number}}&nbsp;руб.</span
          >
          <span
            class="courses-special-offer__price courses-special-offer__price--discount"
            ><span
              class="courses-special-offer__price courses-special-offer__price--accent"
              >{{#format-number}}{{#apply-discount}}{{course.price}}{{/apply-discount}}{{/format-number}}</span
            >&nbsp;руб.</span
          >
          <span class="courses-special-offer__inner--after"></span>
        </div>
        <spacer size="16"></spacer>

        <button
          class="courses-special-offer__button btn btn--primary radius"
          href="#"
        >
          <span class="text-center">Записаться на&nbsp;курс</span>
        </button>
      </center>
    </columns>
    {{/each}}
  </row>
  <spacer size-lg="8"></spacer>
</container>
