<spacer size="16"></spacer>
<h4 class="feedback__heading text-center">Отзыв о&nbsp;курсе</h4>
<spacer size="24"></spacer>
<container>
  <row>
    <columns small="12" large="3">
      <center>
        <img
          class="feedback__image"
          src="{{root}}assets/img/promo/feedback_student-portrait@2x.png"
          alt="Изображение студента PlayHTML"
          width="107"
          height="107"
        />
        <spacer size="8"></spacer>
        <span class="feedback__image-caption">Анна</span>
      </center>
      <spacer size="32"></spacer>
    </columns>
    <columns small="12" large="9">
      <h6 class="feedback__summary">Очень понравился курс!</h6>
      <spacer size="16"></spacer>
      <p class="feedback__text">
        Так как я&nbsp;уже имела дело с&nbsp;HTML и&nbsp;CSS,
        то&nbsp;в&nbsp;принципе никаких трудностей у&nbsp;меня не&nbsp;возникло.
        Хотелось&nbsp;бы просто указать маленький (почти незаметный минус,
        который не&nbsp;влияет на&nbsp;восприятие материала):
        в&nbsp;практических заданиях, как мне показалось будет засчитано
        задание, если все указал в&nbsp;верном порядке (в&nbsp;случае свойств
        это сделать все&nbsp;же ну&nbsp;очень сложно).
      </p>
    </columns>
  </row>
</container>
<center>
  <button class="feedback__button btn btn--secondary radius" href="#">
    <span class="text-center">Записаться на&nbsp;курс</span>
  </button>
</center>
<spacer size-sm="16" size-lg="32"></spacer>
